
{:source-paths ["src"]
 :dependencies []
 :builds {:app {:target :node-library
                :output-to "target/cljs.js"
                :main server.main/main!
                :exports-fn server.main/generate-exports
                :devtools {:after-load server.main/reload!}}}}
